# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Python Cache / Compiled
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db